@model IEnumerable<EntityFrameworkWrittingApp.Models.User>

@{
    ViewData["Title"] = "Index";
}





<div class="card">

    <div class="mails">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
    </div>
    <div class="bottom-info">
        <div class="check1">
            <label class="checkbox">
                <input type="checkbox" />
            </label>
            <div class="star">
                <img src="https://i.ibb.co/SN5SJ8x/star.png" />
            </div>
            <div class="star">
                <img src="https://i.ibb.co/FW9tsHK/attachment.png" />
            </div>

        </div>
        <div class="date">8:30 AM</div>
    </div>

</div>
<div class="card">

    <div class="mails">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>
                            @Html.DisplayFor(modelItem => item.Id)
                            </td>

                            <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.EmailId)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.MobileNo)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
    </div>
    <div class="bottom-info">
        <div class="check1">
            <label class="checkbox">
                <input type="checkbox" />
            </label>
            <div class="star">
                <img src="https://i.ibb.co/SN5SJ8x/star.png" />
            </div>
            <div class="star">
                <img src="https://i.ibb.co/FW9tsHK/attachment.png" />
            </div>

        </div>
        <div class="date">8:30 AM</div>
    </div>

</div>
<div class="card">

    <div class="mails">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
    </div>
    <div class="bottom-info">
        <div class="check1">
            <label class="checkbox">
                <input type="checkbox" />
            </label>
            <div class="star">
                <img src="https://i.ibb.co/SN5SJ8x/star.png" />
            </div>
            <div class="star">
                <img src="https://i.ibb.co/FW9tsHK/attachment.png" />
            </div>

        </div>
        <div class="date">8:30 AM</div>
    </div>

</div>